{{ partial "global-header.html" . }}
<style>
    li+ul {padding-left: 20px;}
</style>

<!-- Werkwijze Start -->
<section id="intro">
    <div class="container">
        <div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h2>Wanneer is een bezoek aan de mondhygiënist nodig?</h2>
						<div>
							<ul>
								<li><p>Als u..</p></li>
									<ul>
										<li>.. een wit en stralend gebit wilt</li> 
										<li>.. tandsteen of rokersaanslag op uw gebit heeft</li>
										<li>.. wel eens last heeft van bloedend tandvlees</li>
										<li>.. (of uw kind) regelmatig nieuwe gaatjes krijgt</li>
										<li>.. regelmatig een slechte adem of droge mond heeft</li>
										<li>.. last heeft van gevoeligheid tijdens eten/drinken</li>
										<li>.. (of uw kind) een beugel draagt</li>
										<li>.. een gebitsbeschermer nodig heeft voor uw sport</li>
										<li>.. zwanger bent, of u lijdt aan hart- en vaatziekten/diabetes</li>
										<li>.. tanden en kiezen hebt die los zitten</li>
										<li>.. nieuwsgierig bent of uw tanden en/of tandvlees gezond zijn</li>
									</ul>
							</ul>
						</div>
					<p></p>
					</div>
					<div class="section-title">
						<h2>Werkwijze</h2>
						<p>Er is geen verwijzing van uw tandarts of specialist nodig voor het maken van een afspraak. U kunt gewoon bellen naar 073-8500945 of e-mailen naar info@mint-ydh.com.</p> 
					</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<img src=" http://localhost:1313/img/mint_icoon.png " alt="Img">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- this is old code from the template				
				
			</div>
              <div class="portfolio-menu">
                <ul>
                  {{ $categories := slice }}
                  {{ range .Site.Data.work.portfolio }}
                    {{ $categories = $categories | append .category }}
                  {{ end }}
                    <li class="filter" data-filter="all">Everything</li>
                  {{ range ( $categories | uniq ) }}
                    <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {{ range .Site.Data.work.portfolio }}
                    <li class="mix {{ .category }}">
                      <a class="venobox" href="{{ $.Site.BaseURL }}{{ .image }}">
                        <img class="img-responsive" src="{{ $.Site.BaseURL }}{{ .image }}" />
                        <div class="overly">
                          <div class="position-center">
                            <i class="fa fa-search fz-20"></i>
                            <h2>{{ .name }}</h2>
                            <p>{{ .description }}</p>
                          </div>
                        </div>
                      </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section> -->

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.work.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
